html, body {
    font-family: "Courier New";
    margin: 0;
    padding: 0;
    background-color: #211443;
}

.center {
    margin: auto;
    max-width: 1024px;
    overflow: hidden;
}

.acaisoft-vector {
    max-width: 100%;
    /*max-height: 100%;*/
}

.text {
    margin: auto;
    margin-top: -100px;
    max-width: 1024px;
    padding: 10px;
}

.text.placeholder {
    visibility: hidden;
}

.acaisoft-message {
    font-weight: bold;
    font-size: 1.1em;
    fill: rgba(184, 184, 184, 0.7);
    color: rgba(184, 184, 184, 0.7);
}

footer {
    position: relative;
    margin: auto;
    max-width: 1024px;
    padding: 10px;
    color: rgba(184, 184, 184, 0.7);
}

footer a {
    color: rgba(184, 184, 184, 0.7);
}

.address {
    display: inline-block;
    vertical-align: top;
}

.address h3 {
    margin-top: 0;
}

.address.email {
    width: 18%;
    padding: 0 1%;
}

.address.usa {
    width: 20%;
    padding: 0 1%;
}

.address.pl {
    width: 22%;
    padding: 0 1%;
}

.address.map {
    width: 31%;
    height: 120px;
}

@media (min-width: 1200px) {
    footer {
        max-width: 1200px;
    }
}

@media (min-width: 850px) and (max-width: 1200px) {
    .text {
        margin-top: -50px;
    }

    .address.email, .address.usa, .address.pl {
        width: 32%;
        padding: 0;
        margin: 0;
    }

    .address.map {
        margin: auto;
        display: block;
        width: 500px;
    }
}

@media (min-width: 550px) and (max-width: 850px) {
    .address.usa, .address.pl {
        width: 49%;
        padding: 0;
    }

    .address.email {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    .address.map {
        position: absolute;
        top: 0;
        right: 15px;
        width: 50%;
    }
}

@media (max-width: 550px) {
    .text {
        margin-top: -50px;
    }

    .address.email, .address.usa, .address.pl, .address.map {
        position: relative;
        width: 100%;
    }
}